@media (max-width: 688px) {
  .header {
    padding: 25px 10px 0 10px;
  }

  .header__image-logo {
    width: 150px;
  }

  .menu .menu__item li {
    padding: 5px 20px;
    font-size: 15px;
  }

  .about .about__item {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10%;
  }

  .about .about__title {
    font-size: 25px;
    margin-top: 50px;
  }

  .about .about__info {
    margin-right: 0px;
  }

  .about .about__item:nth-child(2) {
    padding: 10%;
    flex-direction: column;
  }

  .about .about__item:nth-child(2) .about__info {
    margin-left: 0px;
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;
   
  }

  .footer .footer__item-2,
  .footer__item-3 {
    margin-bottom: -50px;
  }

  .footer .footer__social-medias {
    width: 95vw;
    text-align: center;
  }
}

@media (max-width: 1013px) {
 .hero {
  flex-direction: column;
  text-align: center;
  padding: 0px 25px;
}

.hero__info .hero__title {
 margin-top: 100px;
 max-width: 100%;
 font-size: 30px;
}

 .about {
  padding: 5% 5% 40% 5%;
}

 .card {
  bottom: -50px;
  margin: 0 5%;
  padding: 10% 10%;
}

.card .card__title {
  font-size: 25px;
  margin-bottom: 30px;
}

.card .card__btn {
  padding: 15px 30px;
  font-size: 18px;
}

.footer {
 padding: 20% 2% 5% 2%;
}
}

@media (min-width: 1920px) {
 body {
  margin: 0 5%;
  background-color: hsl(192,100%,96.08%);
 }
}